body {
    background-color: #EBE9E4;
}

/* navbar */

.btn-custom {
    background-color:#896A22;
}

.navbar-default {
    background-color: #274420;
    min-height: 4rem;
}

a.header-subtitle {
    font: bold 1.10rem Montserrat;
    padding: 10px 10px;
    color: #F9E9CF;
}

a.header-title {
    font: normal 1.50rem Courgette;
    color: #F9E9CF;
}

/* opening section */

div.opening {
    margin-top: 4rem;
    height: 90vh;
    background: linear-gradient(
            rgba(20,20,20, .7),
            rgba(20,20,20, .7)),
    url( /images/opening.jpg);
    background-size: cover;
}

div.opening section {
    margin-left: 7vw;
}

div.opening section h1{
    font: bold 3rem Courgette;
    color: white;
}

div.opening section p{
    font: normal 1.5rem Montserrat;
    color: white;
}

/* about us section */
.about-us {
    margin-top: 4rem;
    background-color: #F9E9CF;
}

div.about-us section h1 {
    font: normal 2.75rem Courgette;
    margin-bottom: 4rem;
}

section p {
    font: normal 1.15rem Montserrat;
    margin-bottom: 4rem;
}

/* best menus section */
