<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Secured Page</title>
</head>
<body>
    <h1>Secured Page</h1>
    <div>User Name: <span th:text="${userName}"></span></div>
    <div>Client Name: <span th:text="${clientName}"></span></div>
    <div>User Attributes: <span th:text="${userAttributes}"></span></div>
</body>

<form method="post" th:action="@{/logout}" class="navbar-form navbar-right">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button id="logout-button" type="submit" class="btn btn-danger">Logout</button>
</form>
</html>
